# ETL Application

## Import Required Libraries & Load Data

In [1]:
import pandas as pd
import warnings
import psycopg2
warnings.filterwarnings("ignore")

In [2]:
# county_data - Confirmed Covid Deaths in US by State and County

In [3]:
county_data = pd.read_csv("C:\\Users\\LENOVO LEGION\\Desktop\\QureAssignment\\Qure.ai Data Engineer Assignment Files (2) (1)\\confirmed-covid-19-deaths-in-us-by-state-and-county copy.csv")

In [4]:
# state_data - State Level Data

In [5]:
state_data = pd.read_csv("C:\\Users\\LENOVO LEGION\\Desktop\\QureAssignment\\Qure.ai Data Engineer Assignment Files (2) (1)\\covid-19-state-level-data copy.csv")

In [6]:
# mobility_data - US Mobility Data

In [7]:
mobility_data = pd.read_csv("C:\\Users\\LENOVO LEGION\\Desktop\\QureAssignment\\Qure.ai Data Engineer Assignment Files (2) (1)\\us-mobility copy.csv")

## Current Table View

In [68]:
county_data

,county_fips,county,state_name_code,state_fips,date,deaths,lat,long,geometry
0,0,Statewide Unallocated,AL,1,2020-01-22,0,NaN,NaN,NaN
1,0,Statewide Unallocated,AL,1,2020-01-23,0,NaN,NaN,NaN
2,0,Statewide Unallocated,AL,1,2020-01-24,0,NaN,NaN,NaN
3,0,Statewide Unallocated,AL,1,2020-01-25,0,NaN,NaN,NaN
4,0,Statewide Unallocated,AL,1,2020-01-26,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
600655,56045,Weston County,WY,56,2020-07-23,0,43.839612,-104.567488,POINT (-104.5674881 43.83961191)
600656,56045,Weston County,WY,56,2020-07-24,0,43.839612,-104.567488,POINT (-104.5674881 43.83961191)
600657,56045,Weston County,WY,56,2020-07-25,0,43.839612,-104.567488,POINT (-104.5674881 43.83961191)
600658,56045,Weston County,WY,56,2020-07-26,0,43.839612,-104.567488,POINT (-104.5674881 43.83961191)
600659,56045,Weston County,WY,56,2020-07-27,0,43.839612,-104.567488,POINT (-104.5674881 43.83961191)

In [69]:
state_data

            date          state  state_fips  cases  deaths
0     2020-01-21     Washington          53      1       0
1     2020-01-22     Washington          53      1       0
2     2020-01-23     Washington          53      1       0
3     2020-01-24       Illinois          17      1       0
4     2020-01-24     Washington          53      1       0
...          ...            ...         ...    ...     ...
8149  2020-07-28       Virginia          51  86994    2095
8150  2020-07-28     Washington          53  56576    1633
8151  2020-07-28  West Virginia          54   6173     111
8152  2020-07-28      Wisconsin          55  54114     916
8153  2020-07-28        Wyoming          56   2589      26

[8154 rows x 5 columns]

In [70]:
mobility_data

,state,county,date,retail,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,Total,Total,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,Total,Total,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,Total,Total,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,Total,Total,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,Total,Total,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
155055,Wyoming,Weston County,2020-04-06,NaN,NaN,NaN,NaN,-39.0,NaN
155056,Wyoming,Weston County,2020-04-07,NaN,NaN,NaN,NaN,-37.0,NaN
155057,Wyoming,Weston County,2020-04-08,NaN,NaN,NaN,NaN,-36.0,NaN
155058,Wyoming,Weston County,2020-04-09,NaN,NaN,NaN,NaN,-31.0,NaN
155059,Wyoming,Weston County,2020-04-10,NaN,NaN,NaN,NaN,-43.0,NaN

# Confirmed Covid Deaths in US by State and County

In [11]:
county_data.drop(["Unnamed: 0"], 1, inplace = True) # Drop redundant Index column

In [12]:
county_data.dtypes  # Check consistency in Data Types

county_fips      int64
county_name     object
state_name      object
state_fips       int64
date            object
deaths           int64
lat            float64
long           float64
geometry        object
dtype: object

In [13]:
county_data.isna().sum()  #Checking total count of NaN values in each column of the dataframe

county_fips       0
county_name       0
state_name        0
state_fips        0
date              0
deaths            0
lat            9964
long           9964
geometry       9964
dtype: int64

In [14]:
county_data.sort_values('deaths', ascending = True).head(2)  # Checking for any negative death count

,county_fips,county_name,state_name,state_fips,date,deaths,lat,long,geometry
0,0,Statewide Unallocated,AL,1,2020-01-22,0,NaN,NaN,NaN
362411,37003,Alexander County,NC,37,2020-06-05,0,35.92238,-81.177519,POINT (-81.17751948 35.9223796)

In [15]:
county_data.sort_values('deaths', ascending = False).head(5)    # Checking Max death count

,county_fips,county_name,state_name,state_fips,date,deaths,lat,long,geometry
354755,36047,Kings County,NY,36,2020-07-27,7237,40.636182,-73.949356,POINT (-73.94935552 40.6361825)
354754,36047,Kings County,NY,36,2020-07-26,7234,40.636182,-73.949356,POINT (-73.94935552 40.6361825)
354752,36047,Kings County,NY,36,2020-07-24,7232,40.636182,-73.949356,POINT (-73.94935552 40.6361825)
354753,36047,Kings County,NY,36,2020-07-25,7232,40.636182,-73.949356,POINT (-73.94935552 40.6361825)
354751,36047,Kings County,NY,36,2020-07-23,7222,40.636182,-73.949356,POINT (-73.94935552 40.6361825)

### Observation - Death count is cumulative

In [16]:
#Check Date Range for abnormalities
print( "The Earliest Date in this column is", county_data.date.min())
print( "The Latest Date in this column is", county_data.date.max())

The Earliest Date in this column is 2020-01-22
The Latest Date in this column is 2020-07-27

In [17]:
county_data[county_data['geometry'].isna()]    # Extracting rows with NaN in lat, long, geomtry

,county_fips,county_name,state_name,state_fips,date,deaths,lat,long,geometry
0,0,Statewide Unallocated,AL,1,2020-01-22,0,NaN,NaN,NaN
1,0,Statewide Unallocated,AL,1,2020-01-23,0,NaN,NaN,NaN
2,0,Statewide Unallocated,AL,1,2020-01-24,0,NaN,NaN,NaN
3,0,Statewide Unallocated,AL,1,2020-01-25,0,NaN,NaN,NaN
4,0,Statewide Unallocated,AL,1,2020-01-26,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
596331,0,Statewide Unallocated,WY,56,2020-07-23,0,NaN,NaN,NaN
596332,0,Statewide Unallocated,WY,56,2020-07-24,0,NaN,NaN,NaN
596333,0,Statewide Unallocated,WY,56,2020-07-25,0,NaN,NaN,NaN
596334,0,Statewide Unallocated,WY,56,2020-07-26,0,NaN,NaN,NaN
596335,0,Statewide Unallocated,WY,56,2020-07-27,0,NaN,NaN,NaN

In [18]:
pd.unique(county_data[county_data['geometry'].isna()].county_name)    # Counties with missing location data.

array(['Statewide Unallocated', 'Wade Hampton Census Area',
       'Grand Princess Cruise Ship', 'New York City Unallocated/Probable'],
      dtype=object)

In [19]:
county_data.duplicated().sum()  # Checking for duplicate rows

0

In [20]:
# Rename Columns to maintain column nomenclature consistency between the three tables
county_data.rename(columns = {'county_name':'county', 'state_name':'state_name_code'}, inplace = True)

In [21]:
county_data.to_csv('Clean Data\\county_data.csv', index = False)  # Creating CSV post-processing to upload to PostgresSQL

# State Level Data

In [22]:
state_data.drop(['Unnamed: 0'], 1, inplace = True)

In [23]:
state_data.isna().sum().sum()   # No missing values in dataframe

0

In [24]:
#Check Date Range for abnormalities
print( "The Earliest Date in this column is", state_data.date.min())
print( "The Latest Date in this column is", state_data.date.max())

The Earliest Date in this column is 2020-01-21
The Latest Date in this column is 2020-07-28

In [25]:
state_data.sort_values('deaths', ascending = True).head(2)  # Checking for any negative death count

           date         state  fips  cases  deaths
0    2020-01-21    Washington    53      1       0
677  2020-03-14  Rhode Island    44     20       0

In [26]:
state_data.sort_values('cases', ascending = True).head(2)  # Checking for any negative case count

           date       state  fips  cases  deaths
0    2020-01-21  Washington    53      1       0
159  2020-02-20  Washington    53      1       0

In [27]:
state_data.sort_values('deaths', ascending = False).head(3)    # Checking Max death count

            date     state  fips   cases  deaths
8132  2020-07-28  New York    36  417591   32333
8077  2020-07-27  New York    36  417056   32322
8022  2020-07-26  New York    36  416443   32305

In [28]:
state_data.sort_values('cases', ascending = False).head(3)    # Checking Max case count

            date       state  fips   cases  deaths
8103  2020-07-28  California     6  474951    8716
8048  2020-07-27  California     6  467103    8544
7993  2020-07-26  California     6  459338    8451

### Observation - Both City-wise Death count & Case count is cumulative

In [29]:
print(len(pd.unique(state_data.fips)))    # Distinct fips - Federal Information Processing Standards (FIPS) code in state_data
print(pd.unique(state_data.fips))

55
[53 17  6  4 25 55 48 31 49 41 12 36 44 13 33 37 34  8 24 32 47 15 18 21
 27 40 42 45 11 20 29 50 51  9 19 22 39 26 46  5 10 28 35 38 56  2 23  1
 16 30 72 78 66 54 69]

In [30]:
state_data.duplicated().sum()  #Checking for duplicate rows

0

In [31]:
# Rename Columns to maintain column nomenclature consistency between the three tables
state_data.rename(columns = {'fips':'state_fips'}, inplace = True)

In [32]:
state_data.to_csv('Clean Data\\state_data.csv', index = False)  # Creating CSV post-processing to upload to PostgresSQL

# US Community Mobility Data
### Displays the change in visits to places in %age points

In [33]:
mobility_data.dtypes

state                    object
county                   object
date                     object
retail                  float64
grocery_and_pharmacy    float64
parks                   float64
transit_stations        float64
workplaces              float64
residential             float64
dtype: object

In [34]:
mobility_data.isna().sum()   # Chaecking missing values in dataframe

state                        0
county                       0
date                         0
retail                   21667
grocery_and_pharmacy     26038
parks                   114449
transit_stations         95514
workplaces                9029
residential              83002
dtype: int64

In [35]:
#Check Date Range for abnormalities
print( "The Earliest Date in this column is", mobility_data.date.min())
print( "The Latest Date in this column is", mobility_data.date.max())

The Earliest Date in this column is 2020-02-15
The Latest Date in this column is 2020-04-11

In [36]:
# Checking max increase in percentage points
mobility_data[['retail', 'grocery_and_pharmacy', 'parks', 'transit_stations', 'workplaces', 'residential']].max()

retail                  226.0
grocery_and_pharmacy    174.0
parks                   308.0
transit_stations        222.0
workplaces               43.0
residential              38.0
dtype: float64

In [37]:
# Checking max decrease in percentage points ( Should not go below -100)
mobility_data[['retail', 'grocery_and_pharmacy', 'parks', 'transit_stations', 'workplaces', 'residential']].min()

retail                 -100.0
grocery_and_pharmacy    -74.0
parks                   -90.0
transit_stations        -91.0
workplaces              -80.0
residential              -7.0
dtype: float64

In [58]:
mobility_data

,state,county,date,retail,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,Total,Total,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,Total,Total,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,Total,Total,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,Total,Total,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,Total,Total,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
155055,Wyoming,Weston County,2020-04-06,NaN,NaN,NaN,NaN,-39.0,NaN
155056,Wyoming,Weston County,2020-04-07,NaN,NaN,NaN,NaN,-37.0,NaN
155057,Wyoming,Weston County,2020-04-08,NaN,NaN,NaN,NaN,-36.0,NaN
155058,Wyoming,Weston County,2020-04-09,NaN,NaN,NaN,NaN,-31.0,NaN
155059,Wyoming,Weston County,2020-04-10,NaN,NaN,NaN,NaN,-43.0,NaN

In [38]:
mobility_data.to_csv('Clean Data\\mobility_data.csv', index = False)  # Creating CSV post-processing to upload to PostgresSQL

# Connect & Push data to PostGres

In [39]:
conn = psycopg2.connect(database="covid",
                        user='postgres', password='arnav1609', 
                        host='127.0.0.1', port='5432')
conn.autocommit = True
cursor = conn.cursor()

In [40]:
sql1 = '''CREATE TABLE county_data(county_fips int, county_name varchar(255),
                                state_name varchar(255), state_fips int, date date,
                                deaths int, lat float, long float, geometry varchar(255));'''  

cursor.execute(sql1)

In [41]:
sql2 = '''COPY county_data(county_fips, county_name,
                                state_name, state_fips, date,
                                deaths, lat, long, geometry)
                                FROM 'C:\\Users\\LENOVO LEGION\\Desktop\\QureAssignment\\Clean Data\\county_data.csv'
                                DELIMITER ','
                                CSV HEADER;'''
  
cursor.execute(sql2)

In [42]:
sql3 = '''CREATE TABLE state_data(date date, state varchar(255), fips int, 
                                cases int, deaths int);'''  
cursor.execute(sql3)

In [43]:
sql4 = '''COPY state_data(date, state, fips, cases, deaths)
                                FROM 'C:\\Users\\LENOVO LEGION\\Desktop\\QureAssignment\\Clean Data\\state_data.csv'
                                DELIMITER ','
                                CSV HEADER;'''
  
cursor.execute(sql4)

In [44]:
sql5 = '''CREATE TABLE mobility_data(state varchar(255), county varchar(255), date date, retail float,
                                grocery_and_pharmacy float, parks float, transit_stations float,
                                workplaces float, residential float);'''  

cursor.execute(sql5)

In [45]:
sql6 = '''COPY mobility_data(state, county, date, retail,
                                grocery_and_pharmacy, parks, 
                                transit_stations, workplaces, residential)
                                FROM 'C:\\Users\\LENOVO LEGION\\Desktop\\QureAssignment\\Clean Data\\mobility_data.csv'
                                DELIMITER ','
                                CSV HEADER;'''
  
cursor.execute(sql6)

In [46]:
for i in cursor.fetchall():
    print(i)
  
conn.commit()
conn.close()

ProgrammingError: no results to fetch